$color: #7246db;
$color2: random($limit: 1);
body{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    background-attachment: fixed;
    background-image: url('../img/backgroundpage4.png');
    font-family: sans-serif;
    h2{
        margin: 20px;
        color: white;
        letter-spacing: 4px;
    }
    div.header{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        div.header__menu{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            top: 0%;
            position: fixed;
            transition: 0.6s all;
            width: 100%;
            padding-left: 40px;
            padding-right: 40px;
            z-index: 10;
            div.message, div.korzina{
                cursor: pointer;
            }
            ul.container li a.active{
                color: #7246db;
            }
        }
        div.header__menu ul{
            margin-top: 16px;
            text-align: center;
        }
        div.header__menu ul li{
            list-style: none;
            align-self: center;
            display: inline-block;
            margin-left: 55px;
            margin-right: 55px;
            
        }
        div.header__menu ul li.hover a{
            text-decoration: none;
            color: white;
            padding-bottom: 5px;
            text-transform: uppercase;
            letter-spacing: 2px;
            transition: 0.6s all ease-in-out;
            font-size: 1em;
            position: relative;
            transition: all 0.6s;
            &:before {
                content: "";
                width: 0;
                height: 0.2em;
                position: absolute;
                bottom: 0;
                left: 50%;
                background: $color;
                transition: all 0.3s;
            }
            &:hover {
                &:before {
                    width: 100%;
                    left: 0%;
                    background: $color2;
                }
            }
        }
    }
    div.main{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding-top: 6rem;
        padding-bottom: 6rem;
        div.main__middletext{
            color: white;
            font-size: 3.5em;
            text-align: center;
            padding-top: 40px;
        }
        div.main__korzina{
            -webkit-box-shadow: 0 0px 35px black;
            box-shadow: 0 0px 35px black;
            border-radius: 15px;
            display: inline-block;
            text-align: center;
            margin: 6rem auto 6rem;
        }
    }
    div.footer{
        background-color: black;
        align-items: center;
        text-align: center;
        p.footer__text{
            color: white;
            margin: 0%;
            padding: 1rem;
            font-size: 13px;
        }
    }
}
 